/vendor/
#composer.lock
#package-lock.json
node_modules
src/node
src/tests/config/firebase.ts
build
src/Storage/cache/*
!.gitkeep

.prettierrc
/nbproject
/nbproject/private/

/lib.olders
/src.olders

lib/Wadahkode/Http/*
!Session
!Controller
!Model
!Request.php
!Response.php
!Route.php
!RouterFactory.php
!Routes.php

lib/Wadahkode/Contract/*
!Module.*
!Property.*

lib/Wadahkode/Definition.php.bak

src/Config/realpath.*
# src/Config/database.*

src/App/Http/Controller/Controller.php.bak

public/css/*
!.gitkeep

public/js/*
!.gitkeep
!app.js
!dashboard.js

public/dist

index.html
api.test.http