$width: 100%;
$height: 100vh;
$background-default: #eee;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

body {
  width: $width;
  height: $height;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#root {
  width: $width;
  height: $height;
  background: $background-default;
  overflow-x: auto;
  
  .navbar {
    //background: #fff;
    
    .form-search {
      
      .input-group-text,
      .form-control {
        background: #eee;
      }
      .form-control:focus {
        box-shadow: 0 0 1px transparent;
        border-color: transparent;
      }
    }
  }
  
  /* Custom default button */
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
  }
  
  .cover-container {
    max-width: 42em;
  }
  
  /*
   * Header
   */
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    //color: #333;
    border-bottom-color: #333;
  }
  
  .preloader p {
    margin-top: 35vh;
  }
  
  .splashscreen {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    .brand {
      margin: 0 auto;
      font-size: 20pt;
    }
    
    .loading {
      $colors: #7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
      display: flex;
      margin-top: 0.5rem;
      
      .dot {
        position: relative;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0.5rem;
        border: 50%;
        
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: inherit;
          border-radius: inherit;
          animation: wave 2s ease-out infinite;
        }
        
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
          background: nth($colors, $i);
    
            &::before {
              animation-delay: $i * 0.2s;
            }
          }
        }
      }
    }
  }
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}

.debug {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}